html, body {
  height:           100%;
  font-family:      Verdana, Geneva, Tahoma, sans-serif;
}

.game_area {  
  height:           100%;
  max-width:        600px;
  display:          flex;
  flex-direction:   column;
  align-items:      center;
  justify-content:  space-evenly;  
  margin-left:      auto;
  margin-right:     auto;
}

.main_window {  
  height:           85%;  
  border-radius:    10px;
  display:          flex;
  flex-direction:   column;
  overflow-y:       scroll;    
  transition:       background-color 1s linear;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main_window::-webkit-scrollbar{
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main_window {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.top_row {  
  height:           3rem;
  width:            100%;
  border:           solid 1px;
  border-radius:    10px;
  background-color: #f5f5f5;
  display:          flex;
  justify-content:  space-around;
  align-items:      center;
}

.cmds_container {  
  height:           max-content;
  width:            100%;
  border:           solid 1px;
  border-radius:    10px;
  background-color: #f5f5f5;
  display:          flex;
  justify-content:  flex-start;
  align-items:      center;
  flex-wrap:        wrap;
}

/* #dashboard_text {
  margin-top:       auto;
  margin-bottom:    auto;
  font-size:        1.5em;
} */

.box {
  max-width:        80%;  
  width:            max-content;
  margin-left:      5px;
  margin-right:     5px;  
  margin-top:       3px;
  padding:          0.5rem;
  overflow-wrap:    break-word;
}

/* .link {
  color:          blue;
  text-decoration:  underline;
  cursor:           pointer;
  display:          inline-block;
} */

.box_server {  
  background-color: #00947e1f;
}

/* .box_cmds {
  align-self:       center;  
  max-width:        50%;
  background-color: LawnGreen;
} */

/* #modal_content{
  display:          flex;
  flex-direction:   column;
  align-items:      stretch;  
} */

/* .user_input {
  max-width:        90%;
  margin-left:      auto;
  margin-right:     auto;
} */

/* .game_id {
  color:          darkgreen;
  text-decoration:  underline;
  cursor:           pointer;
  font-weight:      600;
} */

/* .blue_team {
  color: blue;
} */

/* .red_team {
  color: red;
} */

.exits_container, .fixed_cmds_container {
  height:           fit-content;
  width:            100%;
  border:           solid 1px;
  border-radius:    10px;
  background-color: #f5f5f5;
  display:          flex;
  justify-content:  space-around;  
  margin-top:       5px;
}

.cmd_links_off , .exit_link_off{
  color:          lightgray;
}

.cmd_link_on {
  color:          black;
  font-weight:      bold;
  text-shadow:      1px 1px 2px CadetBlue;
  cursor:           pointer;
}

.cmd_link_on:active {
  text-shadow:      1px 1px 2px red;
}

.room_name {
  text-transform: uppercase;
  cursor:         pointer;
  display:        inline-block;
  text-decoration:  underline;
  font-family:    monospace;
}

/* .command {
  cursor:         pointer;
  display:        inline-block;
  text-decoration:  underline;
  font-family:    'Anton';
} */

.clickable {
  cursor:   pointer;
}

.flashing {
  animation: flashing_animation 2s infinite;
}

@keyframes flashing_animation {
  0%		{ background-color: #10c018;}
	25%		{ background-color: #1056c0;}
	50%		{ background-color: #ef0a1a;}
	75%		{ background-color: #254878;}
	100%	{ background-color: #04a1d5;}
}