html, body {
  height:           100%;
}

#Parent {  
  height:           100%;
  max-width:        600px;
  display:          flex;
  flex-direction:   column;
  align-items:      center;
  justify-content:  space-evenly;  
  margin-left:      auto;
  margin-right:     auto;
}

#Chat {  
  height:           85%;
  border:           solid;
  display:          flex;
  flex-direction:   column;
  overflow-y:       scroll;
  background-color: white;
  transition:       background-color 2s linear;
}

#Input {    
  max-height:       10%;
  border-left:      solid;
  border-right:     solid;
  width:            100%;
}

#Dashboard {  
  height:           3rem;
  width:            100%;
  border:           solid;
  display:          flex;
  justify-content:  space-around  
}

#dashboard_text {
  margin-top:       auto;
  margin-bottom:    auto;
  font-size:        1.5em;
}

.box {
  max-width:        80%;  
  width:            max-content;
  margin-left:      5px;
  margin-right:     5px;  
  margin-top:       3px;
  padding:          0.5rem;
}

.box_user {
  align-self:       flex-end;
  border:           1px solid red;  
  background-color: snow;
}

.box_server {
  border:           1px solid blue;  
  background-color: aliceblue;
}

.box_cmds {
  align-self:       center;
  border:           1px solid green;
  width:            fit-content;
}

#modal_content{
  display:          flex;
  flex-direction:   column;
  align-items:      stretch;  
}

.login_input {
  max-width:        90%;
  margin-left:      auto;
  margin-right:     auto;
}

#edit_modal_form {
  max-width:        90%;
  margin-left:      auto;
  margin-right:     auto; 
}

.name {
  color:          black;
  text-decoration:  underline;
  cursor:           pointer;
  font-weight:      600;
}

.exit {
  color:          darkgreen;
  text-decoration:  underline;
  cursor:           pointer;
  font-weight:      600;
}

.game_id {
  color:          darkgreen;
  text-decoration:  underline;
  cursor:           pointer;
  font-weight:      600;
}

.blue_team {
  color: blue;
}

.red_team {
  color: red;
}

.cmd_box_link {
  color:          blue;
  text-decoration:  underline;
  cursor:           pointer;
}

.say_text {
  font-weight:      600;
}

.style1 {
  font-weight: 600;
}