html, body {
  height:           100%;
}

#Parent {  
  height:           100%;
  max-width:        600px;
  display:          flex;
  flex-direction:   column;
  align-items:      center;
  justify-content:  space-evenly;  
  margin-left:      auto;
  margin-right:     auto;
}

#Chat {  
  height:           85%;
  border:           solid;
  display:          flex;
  flex-direction:   column;
  overflow-y:       scroll;
  background-color: cadetblue;
  transition:       background-color 1s linear;
}

#Dashboard {  
  height:           3rem;
  width:            100%;
  border:           solid;
  display:          flex;
  justify-content:  space-around;
}

#dashboard_text {
  margin-top:       auto;
  margin-bottom:    auto;
  font-size:        1.5em;
}

.box {
  max-width:        80%;  
  width:            max-content;
  margin-left:      5px;
  margin-right:     5px;  
  margin-top:       3px;
  padding:          0.5rem;
}

.link {
  color:          blue;
  text-decoration:  underline;
  cursor:           pointer;
  display:          inline-block;
}

.box_server {  
  background-color: white;
}

.box_cmds {
  align-self:       center;  
  max-width:        50%;
  background-color: LawnGreen;
}

#modal_content{
  display:          flex;
  flex-direction:   column;
  align-items:      stretch;  
}

.user_input {
  max-width:        90%;
  margin-left:      auto;
  margin-right:     auto;
}

.game_id {
  color:          darkgreen;
  text-decoration:  underline;
  cursor:           pointer;
  font-weight:      600;
}

.blue_team {
  color: blue;
}

.red_team {
  color: red;
}

.say_text {
  font-weight:      600;
}


.perm_links_container {
  height:           fit-content;
  width:            100%;
  border:           solid;
  display:          flex;
  justify-content:  space-around;  
}

.perm_links_off {
  color: lightgray;
}

.perm_links_on {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px CadetBlue;
  cursor:           pointer;
}

.perm_links_on:active {
  text-shadow: 1px 1px 2px red;
}

.room_name {
  text-transform: uppercase;
  cursor:         pointer;
  display:        inline-block;
  text-decoration:  underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.command {
  cursor:         pointer;
  display:        inline-block;
  text-decoration:  underline;
  font-family:    'Anton';
}

.clickable {
  cursor:         pointer;
}